{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="ui grid">
  <div class="fourteen wide column">
    <div class="ui fluid icon input">
      <input id="main-table-search" autofocus="autofocus" type="text" placeholder="Type here to filter...">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="two wide column">
    <div class="ui fluid icon dropdown large basic button">
      <input name="status" type="hidden" value="Failed">
      <i class="filter icon"></i>
      <span class="text">Filter By Status</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{url_for_field('status', 'failed')}}">Failed</a>
        <a class="item" href="{{url_for_field('status', 'changed')}}">Changed</a>
        <a class="item" href="{{url_for_field('status', 'unchanged')}}">Unchanged</a>
        <a class="item" href="{{url_for_field('status', 'noop')}}">Noop</a>
        <a class="item" href="{{url_for_field('status', 'unreported')}}">Unreported</a>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid icon large basic button">
      <a href="{{first_page_url}}">First</a>
    </div>

    {% if current_page > 0 %}
    <div class="ui fluid icon large basic button">
      <a href="{{prev_page_url}}">Back</a>
    </div>
    {% endif %}

    {% if current_page+1 <= pages %}
    <div class="ui fluid icon large basic button">
      <a href="{{next_page_url}}">Next</a>
    </div>
    {% endif %}

    <div class="ui fluid icon large basic button">
      <a href="{{last_page_url}}">Last</a>
    </div>
  </div>
  </div>
  <div>
    <ul>
      <li>Current page / total pages: {{current_page}} / {{pages}}</li>
      <li>First page URL: {{first_page_url}}</li>
      <li>Next page URL: {{next_page_url}}</li>
      <li>Previous page URL: {{prev_page_url}}</li>
      <li>Last page URL: {{last_page_url}}</li>
      <li>
        <span>
          Current query:
          {{query}}
        </span>
      </li>
    </ul>
  </div>
</div>
<table
  id="main-table"
  class='ui very basic very compact table'
  data-auto-width="false"
  data-paging="false"
  data-info="false"
  data-dom="t"
  data-order='[[ 2, "asc" ]]'
>
  <thead>
    <tr>
      <th>Status</th>
      <th>Certname</th>
      <th>Catalog</th>
      <th>Report</th>
      <th class="collapsing" data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    {% for node in nodes %}
    <tr>
      <td data-order="{{ node.name }}">
        {% if node.latest_report_hash %}
          {{macros.status_counts(status=node.status, node_name=node.name, events=node.events, unreported_time=node.unreported_time, current_env=current_env, report_hash=node.latest_report_hash)}}
        {% else %}
          {{macros.status_counts(status=node.status, node_name=node.name, events=node.events, unreported_time=node.unreported_time, current_env=current_env)}}
        {% endif %}
      </td>
      <td><a href="{{url_for('node', env=current_env, node_name=node.name)}}">{{node.name}}</a></td>
      <td data-order="{{ node.name | default('', true) }}">
        {% if node.catalog_timestamp %}
          <a href="{{url_for('catalog_node', env=current_env, node_name=node.name)}}" data-localise="{{ config.LOCALISE_TIMESTAMP|lower }}">{{node.catalog_timestamp}}</a>
        {% else %}
          <i class="large darkblue ban icon"></i>
        {% endif %}
      </td>
      <td data-order="{{ node.name | default('', true) }}">
        {% if node.report_timestamp %}
          <a href="{{url_for('report', env=current_env, node_name=node.name, report_id=node.latest_report_hash)}}"  data-localise="{{ config.LOCALISE_TIMESTAMP|lower }}">{{ node.report_timestamp }}</a>
        {% else %}
          <i class="large darkblue ban icon"></i>
        {% endif %}
      </td>
      <td>
        {% if node.report_timestamp %}
        <a title='Reports' href="{{url_for('reports', env=current_env, node_name=node.name)}}"><i class='large darkblue book icon'></i></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
